<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-lazy-init="true" default-autowire="byName">
	<description>Spring公共配置文件</description>

	<context:component-scan base-package="cn.com.oceancode.service.*" />

	<bean lazy-init="false" class="cn.com.oceancode.utils.SpringContextUtil"></bean>

	<bean id="jdbcTemplate_mysql" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="oceancode_mysql_ds" />
		</property>
	</bean>

	<bean id="oceancode_mysql_ds" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://10.211.55.2:3306/oceancode_db</value>
		</property>
		<property name="username">
			<value>oceancode</value>
		</property>
		<property name="password">
			<value>Passw0rd</value>
		</property>
<!-- 		<property name="url"> -->
<!-- 			<value>jdbc:mysql://10.211.55.2:8066/TESTDB</value> -->
<!-- 		</property> -->
<!-- 		<property name="username"> -->
<!-- 			<value>test</value> -->
<!-- 		</property> -->
<!-- 		<property name="password"> -->
<!-- 			<value>test</value> -->
<!-- 		</property> -->
		<!-- 最大连接数量 -->
		<property name="maxActive" value="20" />
		<!-- 初始化连接 -->
		<property name="initialSize" value="5" />
		<!-- 超时等待时间以毫秒为单位 1000等于60秒 -->
		<property name="maxWait" value="-1" />
		<!-- 最大空闲连接 -->
		<property name="maxIdle" value="15" />
		<!-- 最小空闲连接 -->
		<property name="minIdle" value="5" />
		<!-- 是否自动回收超时连接 -->
		<property name="removeAbandoned" value="true" />
		<!-- 自动回收连接超时时间(以秒数为单位) -->
		<property name="removeAbandonedTimeout" value="180" />
		<!-- 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除 -->
		<property name="testWhileIdle" value="true" />
		<!-- 指明是否在从池中取出连接前进行检验（当然结合sql）,如果检验失败,则从池中去除连接并尝试取出另一个 -->
		<property name="testOnBorrow" value="true" />
		<!-- 指明是否在归还到池中前进行检验 -->
		<property name="testOnReturn" value="true" />
		<!-- SQL查询,用来验证从连接池取出的连接,在将连接返回给调用者之前.如果指定,则查询必须是一个SQL SELECT并且必须返回至少一行记录 -->
		<property name="validationQuery">
			<value> select now()  </value>
		</property>
		<!-- 在空闲连接回收器线程运行期间休眠的时间值,以毫秒为单位. 如果设置为非正数,则不运行空闲连接回收器线程 -->
		<property name="timeBetweenEvictionRunsMillis" value="30000" />
		<!-- 在每次空闲连接回收器线程(如果有)运行时检查的连接数量 -->
		<property name="numTestsPerEvictionRun" value="20" />
	</bean>

	<bean id="OCService" class="cn.com.oceancode.service.OCService">
		<property name="jdbcTemplate" ref="jdbcTemplate_mysql" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionTemplate" ref="sharedTransactionTemplate" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oceancode_mysql_ds" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="sharedTransactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="isolationLevelName" value="ISOLATION_READ_UNCOMMITTED" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="timeout" value="30" />
	</bean>

	<bean name="codeUtils" lazy-init="false"
		class="cn.com.oceancode.utils.CodeUtils">
	</bean>
</beans>